    <div class="content-section-b">
	<div class="container">
		<h1 style="padding:15px 0;">About Jamena McInteer</h1>
	</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Who Am I?</h2>
                    <p class="lead">Hi, I'm Jamena McInteer, a web developer of eight years living in Albuquerque, NM. I'll be working directly with you to achieve your goals and dreams for your business in the online world. I am committed to producing magic, to over-delivering, and to sticking a smile on your face . . . speechlessness counts too.<br><br>

					I provide a full-service solution, so you can focus on what you do best: developing your products and services, talking to customers, and managing your business. Let me do all the web stuff: designing, coding, hosting, and marketing.</p>
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="build/images/jamena-300x300.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
	
	
	<div class="content-section-a">

        <div class="container">
            <div class="row">
				<div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Skills</h2>
                    <p class="lead">
					<strong>Languages:</strong> HTML5, CSS3, PHP, MySQL, jQuery<br>
					<strong>Frameworks, Plugins, etc.:</strong> WordPress, Bootstrap, GitHub, WooCommerce, BuddyPress, LESS, Gulp<br>
					<strong>Additional Skills:</strong>
					</p>
					<ul class="lead">
					<li>Skilled at learning new skills by applying currently known concepts; a strong desire to learn and grow.</li>
					<li>Testing and debugging website form and function.</li>
					<li>Strong problem solving and analytical skills, detail oriented.</li>
					</ul>
                </div>
				<div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="build/images/intro-bg.jpg" alt="">
                </div>
            </div>
			<p style="margin-top:15px;text-align:center;"><a href="#contact" class="btn btn-default btn-lg">Contact Me</a></p>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->