    <div class="content-section-b">
	<div class="container">
		<h1 style="padding:15px 0;">Contact Jamena</h1>
	</div>
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <p class="lead"><a href="tel:(505)221-6695"><i class="fa fa-phone"></i> (505)221-6695</a></p>
					<p class="lead"><a href="mailto:jamena@webdevabq.com"><i class="fa fa-envelope"></i> jamena@webdevabq.com</a></p>
					<p class="lead"><a href="skype:ndjamena.marmon"><i class="fa fa-skype"></i> Skype: ndjamena.marmon</a></p>
					<p class="lead contact-social-icons">
						<a href="https://www.facebook.com/ndjamena.marmon"><i class="fa fa-facebook-official"></i></a>
						<a href="https://www.linkedin.com/in/jamena-mcinteer-5511aa45"><i class="fa fa-linkedin"></i></a>
						<a href="https://twitter.com/webdevabq"><i class="fa fa-twitter"></i></a>
						<a href="https://github.com/ndjamenamarmon"><i class="fa fa-github"></i></a>
					</p>
					
                </div>
                <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="build/images/jamena-300x300.jpg" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->
    <div class="banner">

        <div class="container">

            <div class="row">
                <div class="col-lg-6">
                    <h2>Connect to Jamena:</h2>
                </div>
                <div class="col-lg-6">
                    <ul class="list-inline banner-social-buttons">
						<li>
                            <a href="https://www.linkedin.com/in/jamena-mcinteer-5511aa45" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                        <li>
                            <a href="https://twitter.com/webdevabq" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com/ndjamenamarmon" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <!-- /.container -->