<div class="content-section-b">
	<div class="container services-container">
		
		<div class="row">
			<div class="col-md-4">
				<p><i class="fa fa-laptop"></i></p>
				<h2>Full Web Development</h2>
				<p>I get your business from the ground into the cloud. I turn your fuzzy ideas, napkin sketches, and big dreams into a rich and tangible online experience, tailored to your project's special something.</p>
			</div>
			<div class="col-md-4">
				<p><i class="fa fa-heartbeat"></i></p>
				<h2>Website Re-Design</h2>
				<p>If you already have a site but it's not doing what you need it to or is not performing well, it may simply need a re-design or re-vamping to get it going again. I work with you to determine what your website really needs.</p>
			</div>
			<div class="col-md-4">
				<p><i class="fa fa-mobile"></i></p>
				<h2>Mobile Strategy</h2>
				<p>With so many people using mobile devices these days, a solid mobile strategy will be absolutely critical for your business success. We're here to strategize, guide, and push your business into the mobile world.</p>
			</div>
		</div>
		<p style="margin-top:15px;"><a href="#contact" class="btn btn-default btn-lg">Contact Me</a></p>
	</div>
</div>