@import "bootstrap";
@import "../font-awesome-4.6.3/less/font-awesome.less";
@import "landing-page.less";

@teal: #00a3a6;
@fuchsia: #FF0080;

.intro-header {
    background: url(../../build/images/banner2.jpg) no-repeat center center;
	background-size:cover;
	margin-top:50px;
}
.intro-message {
	h1 {color:@teal;}
}

.banner {
    background: url(../../build/images/banner.jpg) no-repeat center center;
    background-size: cover;
}

p.contact-social-icons i {
	font-size:1.5em;
	padding-right:7px;
	color:#333;
}

.services-container {
	margin-top:80px;
	
	h2, p {text-align:center;font-weight:normal;}
	i.fa {
		font-size: 2.5em;
		color: @teal;
		border: 1px solid @teal;
		border-radius: 120px;
		width: 2.5em;
		line-height: 2.5em;
		transition: background-color 0.8s ease;
	}
	i.fa:hover {
		background-color:@teal;
		color:white;
	}
}
.loading {
	position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;
}